@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.facl {
    height: 100px;
}

section {
    margin-top: 100px;
}

/* Header Section */

.header {
    max-width: 1320px;
    margin: 0 auto;
    background-image: url('../images/Banner\ Image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    filter: grayscale(40%);
}

.banner-section {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.sub-teitle {
    font-size: 2rem;
    font-weight: 500;
    margin: 120px 0 0 0;
    color: white;
}

.main-teitle {
    font-size: 4rem;
    font-weight: 500;
    margin: 50px 0 0 0;
    color: white;
}

/* Offer Section */

.offer {
    max-width: 1320px;
    margin: 0 auto;
}

.offers-items {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.off {
    font-size: 4rem;
    color: red;
    margin-bottom: 2px;
    font-weight: bold;
}

.sub {
    margin: 10px 0 0 0;
    font-size: 0.9rem;
    color: red;
    font-weight: 500;
}

.all-claction {
    font-size: 2rem;
    margin: 10px 0 50px 0;
}

.full img {
    width: 100%;
}

/* wellcome party */
.wellcome {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.text-wellcome {
    padding-left: 100px;
    height: 60vh;
    max-width: 500px;
    color: white;
    display: flex;
    align-items: center;
}

.fulles-text {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.prag {
    font-size: 1.2rem;
}

.new {
    font-size: 1.5rem;
    font-weight: 500;
}


/* time */
.time {
    max-width: 1320px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, 
    rgb(255, 243, 243), rgb(255, 232, 232));
    border-radius: 8px;
}

.ditelces {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 70px 0;

}
.place{
  font-size: 1.7rem;
  font-weight: 600;
  margin: 15px 0;
}
.join-btn{
    margin-top: 20PX;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: 500;
}
.red{
  color: RED;
}


/* coming-soon */
.coming-soon{
    max-width: 1320px;
    margin: 0 auto;
}
.new-offer{
    display: flex; 
    gap: 120px;
}
.first{
    max-width: 390px;
}
.second{
    max-width: 470px;
}
.second img{
    border-radius: 50%;
    border: 6px solid rgb(231, 21, 21);
}
.Third{
    max-width: 350px;
}
.numbr{
    font-size: 2.2rem;
    color: red;
    font-weight: 600;
    margin: 10px 0;
}
.Third img{
    margin-top: 20px;
}
.sub{
    font-size: 1.1rem;
    color: red;
    font-weight: 500;
}
.text--main{
    font-size: 2.3rem;
    font-weight: 600;
    margin: 10px 0;
}
.dicption, 
.numb-diption, 
.dicption-sell , .uiwj{
    color: rgb(116, 115, 115);
}



/* holidays sale */
.holidays{
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}
.text-sec{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.new-te{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 8px 0;
}
.boro-text{
    font-size: 3.2rem;
margin: 0 0  20px 0;
}
.color{
    color: red;
}
 .towes{
    display: flex;
 }
 .towes img{
    width: 100%;
 }

 #left{
    position: absolute;
    top: 300px;
    height: 500px;
 }
#right{
    position: relative;
    float: right;
    height: 200px;
    width: 250px;  
    top: 100px;
}
#buttom{
   margin-top: 300px;
   width: 100%;
   height: 200px;
   border-radius: 8px;
   object-fit:cover ;
} 


/* cardes */
.cardes{
    max-width: 1320px;
    margin: 0 auto;
}
.text-card{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.net{
    font-size: 1rem;
    color: red;
    font-weight: 600;
    margin: 0;
}
.gift{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 14px 0;
}
.imges-cards img{
    height: 300px;
    width: 330px;
}
.imges-cards{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

/* email-section */
.email-section{
    max-width: 1320px;
    margin: 0 auto;
    background-color: #FFF2F2;
    border-radius: 8px;
}
.meseages-box-number{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}
.meseages-box-number img{
    max-width: 100px;
}
.meseages-teitle{
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 600;
}
.dicption-meseages{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgb(86, 85, 85);
}
input[type="email"]{
    padding: 11px 150px 11px 25px;
    font-size: 15px;
    border: none;
    border-radius: 50px  0   0  50px;
}
.submit-btn{
    padding: 11px 25px ;
    font-size: 14px;
    font-weight: 500;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0 50px 50px 0;
}


/* Footer */
footer{
    background-color: #070211;
    color: white;
    margin-top: 100px;
}
.section-cointerner{
    padding: 50px;
}
.firstqweewrr{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    border-bottom: 3px solid #17053a;
    padding-bottom: 30px;
}
.thardopeu{
      max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    border-bottom: 3px solid #17053a;
    padding: 30px 7px 10px 7px;
}
.dic{
    margin-top: 0;
    max-width: 260px;
    line-height: 30px;
}
.icon{
    line-height: 30px;
margin: 0%;
}


@media screen and (max-width:576px) {
    .text-wellcome {
        padding-left: 20px;
    }
    .new-offer{
    flex-direction: column; 
    gap: 50px;
    }
    .first{
        margin-left: 10px;
    }
    .second img{
    width: 100%;
    }
    .Third{
     margin-left: 20px;
     text-align: center;
    }
    .imges-cards{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 15px;
    }
     #left{
        top: 330px;
       height: 300px;
 }
#right{
    height: 150px;
    width: 150px;  
    top: 10px;
}
#buttom{
   margin-top: 50px;
   width: 100%;
   height: 200px;
   border-radius: 8px;
   object-fit:cover ;
} 
input[type="email"]{
    padding: 11px 50px 11px 25px;
    font-size: 15px;
    border: none;
    border-radius: 50px  0   0  50px;
}
.section-cointerner{
    padding: 50px;
    gap: 20px;
}
.firstqweewrr{
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: none;
    gap: 10px;
}
.thardopeu{
flex-direction: column;
    border-bottom: none;
    padding: 30px 7px 10px 7px;
    justify-content: center;
}
.dic{
    margin: 0 auto;
}


}